[include]
  path = ~/.config/gitconfig/user42.gitconfig
[init]
	defaultBranch = main
[diff]
  guitool = gvimdiff
	tool = vimdiff
[merge]
  tool = vimdiff
  guitool = gvimdiff
[core]
	editor = vim
[alias]
	hist = log --pretty=format:'%C(yellow)[%ad]%C(reset) %C(green)[%h]%C(reset) | %C(red)%s %C(bold red){{%an}}%C(reset) %C(blue)%d%C(reset)' --graph --date=short
  switch = checkout
  st = status
  ci = commit
  br = branch
  co = checkout
