[user]
	name = niida
	email = 54788301+naokiiida@users.noreply.github.com
	signingkey = .ssh/id_ed25519.pub
[core]
	autocrlf = input
	safecrlf = true
	editor = hx
	quotepath = off
    pager = delta
[alias]
	sw = switch
	ci = commit
	st = status
	br = branch
	li = log --oneline
	rf = log --simplify-by-decoration --oneline
	hist = log --pretty=format:'%Cblue%h %ad%Creset %s%C(auto)%d [%an]' --graph --date=short
	h = hist
	ha = hist --all
	type = cat-file -t
	dump = cat-file -p
	dt = difftool
	difft = difftool
	dlog = "-c diff.external=difft log -p --ext-diff"
    ipatch = "!f() { git apply $1 && git add -p --filter=difft; }; f"
	ds = -c delta.features=side-by-side diff
	dl = -c delta.line-numbers=true diff
	wta = git worktree add
	wtl = git worktree list
	wtr = git worktree remove
[init]
	defaultBranch = main
# [diff]
# 	tool = vimdiff
# 	guitool = gvimdiff
[merge]
	# tool = vimdiff
	# guitool = gvimdiff
    conflictstyle = diff3
[diff]
    tool = difftastic
    colorMoved = default
[difftool]
        prompt = false
[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"
# [pager]
#         difftool = true
[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true
    hyperlinks = true
    hyperlinks-file-link-format = "zed://file/{path}:{line}"
    # hyperlinks-file-link-format = "vscode://file/{path}:{line}"
    # hyperlinks-file-link-format = "idea://open?file={path}&line={line}"
    # hyperlinks-file-link-format = "pycharm://open?file={path}&line={line}"
[gitbutler]
	aiModelProvider = openai
[gpg]
	format = ssh
[commit]
	gpgsign = true
